body, head{
    margin: 0;
    padding: 0;
    top: 0;
    left:0;
    font-family: 'Avenir Next Cyr Thin';
}
@font-face {
    font-family: 'Avenir Next Cyr Thin';
    src: url('AvenirNextCyr-Thin.eot');
    src: url('AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextCyr-Thin.woff') format('woff'),
    url('AvenirNextCyr-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
.container{
    margin: 0;
    padding: 0;
    
    height: 100%;
    /* margin: 37px 41px; */
    /* display: flex; */
}

.side_bar {
    width: 25%;
    max-width: 469px;
    height: 100%;
    min-width: 120px;
    /* padding:0, 20px; */
    margin: 0;
    position: absolute;
    background-color: #e7e6e6;
}

.side_bar_avatar {
width: 100%;
max-width: 350px;
margin: 38px auto;
align-items: center;
justify-content: center;
display: flex;
}

.avatar{
    background-color: rgb(163, 144, 118);
    border-radius: 50%;
    width: 95%;
    height: 95%;
    max-width: 350px;
    max-height: 350px;

}
.side_bar_slogan {
    font-style: italic;
    opacity: 75%;
    max-width: 350px;
    margin:38px auto ;
}

.slogan{
    padding: auto;
    vertical-align: middle;
    text-align: center;
    max-width: 350px;
}
.side_bar_info {
width: 100%;
font-weight: 500;

}
.left_column {
float: left;
font-weight: 500;
padding-left: 10px;
}

.right_column {
float: right;
padding-right: 10px;
}
.side_bar_skill {
    flex-wrap: wrap;
    display: flex;
    /* position: relative; */
    width: 100%;
    max-width: 350px;
    justify-content: center;
    align-items: center;
    margin: 38px auto;
    height: fit-content;
}
.side_bar_skill_block {
    display: flex;
    /* display: flex; */
    /* width: 100%; */
    /* height: 40px; */
    /* text-align: center;
    justify-content: center;
    align-items: center; */
    padding: 10px;
    background-color: #7B7B7B;
    margin: 3px 3%;
}

.side_bar_skill_block_lable{
    justify-content: center;
    align-items: center;
    text-align: center; 
    color: #FFFFFF;
    /* padding: 50%;
    margin: auto; */
}

.side_bar_contacts {
    flex-wrap: wrap;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.sidebar_contacts_img{
    margin: 10px;
}

.contact_img{
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.main_bar {
    margin-left: 25%;
    padding: 20px 50px;
    /* position: absolute; */
    height: 100%;
    background-color: #ffffff;
}
.main_bar_name {
    font-weight: bold;
}
.main_bar_about {
    font-weight: bold;
}
.about {
    font-weight: bold;
}
.main_bar_info {
    max-width: auto;
    display: flex;
}
.main_bar_info_left {
    height: auto;   
    width: 65%;
    /* display: inline-block; */
}
.main_bar_experience {
}
.experience_slot {
}
.company_name {
}
.position {
}
.h_position {
}
.position_description {
}
.h_position_description {
}
.main_bar_info_right {
    height: auto;   
    width: 35%;
    margin: auto 30px;
    /* margin-top: auto; */
    /* display: inline-block; */
    /* margin-left: 50%; */
}
.main_bar_skill {
}
.skill_slider{
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 5px;  
    background: #D2D2D2;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.skill_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 3px solid #757575;
    border-radius: 50%; 
    background: #7B7B7B;
    cursor: default;
    border-color: rgb(255, 255, 255);
    
}
.main_bar_education {
}
.education_slot {
}
.education_name {
}
.education_description {
}



